


html, body {
  height: 100%;
}

body {
  background: white;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body * {
  box-sizing: border-box;
  color: #29293E;
  font-weight: 600;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
